.carousel {
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.inner {
    transition: transform 0.3s;
}

.carousel-item {
    height: 700px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}